/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #ffffff;
}

/* End Components */
/* Start Header */
header {
  position: fixed;
top: 0;
left: 0;
width: 100%;
height: 10vh;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}

header .logo img {
  height: 50px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {

  header nav ul,
  header nav ul li .btnLogin-popup {
    display: none;
  }

  header nav ul li a,
  header nav ul li .btnLogin-popup {
    padding: 15px !important;
  }
}

header nav ul li a,
header nav ul li .btnLogin-popup {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover,
header nav ul li .btnLogin-popup:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.btnLogin-popup {
  background: transparent;
}


/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("images/action.jpeg");
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient(135deg, #0e2b35 25%, #26596b 50%, #0e2b35);
}

.services .srv-box h3 {
  margin-bottom: 30px;
  color: white;
  text-align: justify;
  padding-top: 120px;
  position: absolute;
}

.TV,
.website {
  padding-left: 45px;
}



@media (min-width: 768px) {
  .services .services-container {
    display: flex;
    justify-content: space-between;

  }

  .services .srv-box img {
    height: 50px;
  }
}

.services .srv-box {
  display: flex;
}

.services .srv-box img {
  margin-right: 50px;
  height: 100px;
}

@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }

  .services .srv-box img {
    margin: 0px 150px 10px;
    size: 3px;
  }

  .services .srv-box h3 {
    margin-bottom: 30px;
    color: white;
  }

  .TV {
    margin-left: 130px;

  }

  .phone {
    margin-left: 150px;
  }

  .website {
    margin-left: 120px;
  }
}

.services .srv-box h3 {
  margin-bottom: 30px;
  color: white;
}


/* End Services */

/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}

.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.video .text p {
  margin-bottom: 30px;
}

.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  background: linear-gradient(135deg, #043b4e 25%, #26596b 50%, #043b4e);
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}

/* End About */

/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.footer .container {
  position: relative;
}

.footer img {
  margin-bottom: 10px;
}

.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}

.footer .copyright {
  margin-top: 60px;
}

.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}

/* End Footer */

/* Start login-register */

.wrapper {
  position: absolute;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(200px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .5s ease, height .2s ease;
  position: absolute;
    top: 20%;
    left: 30%;

}

.wrapper {
  transform: scale(0);
}

.wrapper.active-popup {
  transform: scale(1);
}

.form-box {
  width: 100%;
  padding: 40px;
}

.wrapper.form-box.login {

  transition: transform .18s ease;
  transform: translateX(0px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper-load.form-box.upload-video {

  transition: transform .18s ease;
  transform: translateX(0px);
}

.wrapper.active {
  height: 520px;

  .form-box.login {
    transition: none;
    transform: translateX(-400px);
  }

  .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
  }
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #000000;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #000000;
  text-align: center;

}

.final_video h2 {
  font-size: 2em;
  color: #000000;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000000;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #000000;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000000;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #000000;
  line-height: 57px;
}


.btn {
  width: 100%;
  height: 45px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.btn:hover {
  background: #fff;
  color: #000000;
}

.login-register {
  font-size: .9em;
  color: #000000;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}


/* End login-register */

/*Start videoShow*/
.videoUpload,.videoShow {

  padding-top: var(--section-padding);
  overflow: hidden;
  background: linear-gradient(135deg, #043b4e 25%, #26596b 50%, #043b4e);
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #043b4e 25%, #26596b 50%, #043b4e);
  background-size: cover;
  -hp-background-position: center; 
}

.videoUpload .form-control{
    width:55%;
    margin-left:500px;
}

.videoUpload .btn{
  width: 30%;
}
.videoShow .btn{
  width: 20%;
  background: #01202b;
  color: #fff;
}


.btn_download{
  width: 30%;
  height: 50px;
  background:#00202b;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  margin-top:50px;
}

.videoShow .btn:hover {
  background: #fff;
  color: #01202b;
}

.btn_download:hover{
  background: #fff;
  color: #00202b;
}

/*End videoShow*/